<div class="parent">
    <div class="title">
        <p>DOCTORS LIST</p>
        <div class="line"></div>
    </div>
    <div class="list">
        <div class="top">
            <input type="input" class="multiOp" placeholder="Select a Specialization">
            <!-- <input type="button" value="" > -->
            <button class="btns"> Add New Doctor</button>
        </div>
        <div class="bottom">
            <ul id="myDIV">
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="img">
                        
                        <img src="../../../assets/imgs/NemboLukni.png" alt="" width="200px">
                    </div>
                    <div class="info">
                        <h5>Dr.Nembo Lukeni</h5>
                        <span>MBBS</span>,<span>DMRD</span>
                        <div class="DE">
                            <div class="desi">
                                <p>Designations</p>
                                <span>Senior Specialist</span>
                            </div>
                            <div class="Experi">
                                <p>Experience</p>
                                <span>10+ years</span>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>