<div class="parent">
    <div class="title">
        <p>PATIENT LIST</p>
        <div class="line"></div>
    </div>
    <div class="tableInfo">
        <div class="top">
            <input class="form-control fc" id="myInput" type="text" placeholder="Search..">
            <button>Add New Patient</button>
        </div>

        <div class="bottom">
            

  <br>
  <table class="table ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Blood Group</th>
        <th>Symptoms</th>
        <th>Mobile Number</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>1</td>
        <td>Laura</td>
        <td>Female</td>
        <td>o+</td>
        <td>Sweating,Chills and Shivering</td>
        <td>(717) 555-4444</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Laura</td>
        <td>Female</td>
        <td>o+</td>
        <td>Sweating,Chills and Shivering</td>
        <td>(717) 555-4444</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Laura</td>
        <td>Female</td>
        <td>o+</td>
        <td>Sweating,Chills and Shivering</td>
        <td>(717) 555-4444</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Laura</td>
        <td>Female</td>
        <td>o-</td>
        <td>Sweating,Chills and Shivering</td>
        <td>(717) 555-4444</td>
        <td>john@example.com</td>
      </tr>
    </tbody>
  </table>
        </div>
    </div>
</div>

