<div class="parent">
  <div class="left">
    <div class="top">
      <div class="img">
        <img src="../assets/imgs/Admin.png" alt="">
      </div>
      <p class="p1">Jane Doe</p>
      <p class="p2">Admin</p>
    </div>

    <div class="bottom">
      <ul>
        <li class="logo " [routerLink]="['dashboard']" routerLinkActive="active">
          <span class="icon icon-dashboard"></span>
         <span class="text">Dashboard</span>
        </li>
        <li class="logo " [routerLink]="['schedule']" routerLinkActive="active">
          <span class="icon icon-schedule"></span>
          <span class="text">Schedule</span>
        </li>
        <li class="logo"  [routerLink]="['doctor']" routerLinkActive="active">
          <span class="icon icon-doctors icon"></span>
          <span class="text">Doctors</span>
        </li>
        <li class="logo" [routerLink]="['patients']" routerLinkActive="active">
          <span class="icon icon-patients"></span>
          <span class="text">Patients</span>
        </li>
        <li class="logo"  [routerLink]="['preference']" routerLinkActive="active">
          <span class="icon icon-preference"></span>
          <span class="text">Preference</span>
        </li>
        <li class="logo" [routerLink]="['about']" routerLinkActive="active">
          <span class="icon icon-about"></span>
          <span class="text">About</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div>